.commits
  %h2
    Commits

  %table.table
    %thead
      %tr
        %th
          Date
        %th
          Author
        %th
          Message
        %th
          Changes
        %th
          Commit
    - @commits.each do |commit|
      %tr.commit{:data => {:url => "/repository/#{@repository.id}/commit/#{commit.id}"}}
        %td
          #{I18n.l commit.date, :format => :short}

        %td
          #{trim_string commit.author.name, 20}

        %td.name
          #{trim_string commit.short_message, 120}

        %td
          .added
            + #{commit.stats.additions}
          .deleted
            = "- #{commit.stats.deletions}"

        %td
          #{commit.id_abbrev}

  = will_paginate @commit_pagination