%h1
  = @repository.name

.commits
  %h2
    Commits

  %table
    %thead
      %tr
        %th
          Date
        %th
          Author
        %th
          Message
        %th
          Changes
        %th
          Commit ID
    - @commits.each do |commit|
      %tr.commit
        %td
          #{I18n.l commit.date, :format => :short}

        %td
          #{commit.author}

        %td
          #{commit.short_message}

        %td
          .added
            + #{commit.stats.additions}
          .deleted
            = "- #{commit.stats.deletions}"

        %td
          #{commit.id_abbrev}

        %td
          = link_to "View", "/repository/#{@repository.id}/commit/#{commit.id}"

  = will_paginate @commit_pagination