%tr.new-comment-row
  %td.add_comment
  %td.line-number-after.line-number
  %td.line-number-before.line-number
  %td.line
    .commit-comment
      = form_for @comment do |f|
        = f.hidden_field :start_line
        = f.hidden_field :end_line

        = f.hidden_field :file
        = f.hidden_field :commit
        = f.hidden_field :repository_id

        .content
          = f.text_area :content

        .controls
          = link_to "#", :id => "save_new_comment" do
            .btn.btn-primary
              Create

          = link_to "#", :id => "close_new_comment" do
            .hide.btn.btn-danger
              Cancel
