%tr.new-comment-row
  %td
  %td
  %td
  %td
    %fieldset.commit-comment
      = form_for @comment do |f|
        = f.hidden_field :start_line
        = f.hidden_field :end_line

        = f.hidden_field :file
        = f.hidden_field :commit
        = f.hidden_field :repository_id

        .content
          = f.text_area :content

        .controls
          .del
            Cancel

          .create
            = link_to 'Save', "#", :id => "save_new_comment"