.diff
  %table
    - before_count = 1
    - after_count = 1
    - line_count = 1

    - diff.each do |line|

      %tr{:data => {:line => line_count}}
        - line_count += 1
        %td.add_comment
          = link_to "+", "#"
        %td.line-number-after
          #{after_count}
        %td.line-number-before
          #{before_count}

        - case line
        - when /^(---|\+\+\+|\\\\)/
          - before_count += 1
          - after_count += 1
          %td.line.diff-comment
            %span
              #{line.chomp}
        - when /^\+/
          - after_count += 1
          %td.line.ins
            %ins
              #{clean_line line}
        - when /^-/
          - before_count += 1
          %td.line.del
            %del
              #{clean_line line}
        - when /^ /
          - before_count += 1
          - after_count += 1
          %td.line.unchanged
            %span
              #{clean_line line}
        - when /^@@/
          - before_count += 1
          - after_count += 1
          %td.line.diff-block-info
            %span
              #{line.chomp}