.diff.well
  %table
    - before_count = 1
    - after_count = 1
    - line_count = 1

    - diff.each do |line|

      - line_comments = comments.find_all{|comment| line_count == comment.start_line}

      %tr.code{:data => {:line => line_count}}
        - line_count += 1
        %td.add_comment
          = link_to "+", "#"
        %td.line-number-after.line-number
          #{after_count}
        %td.line-number-before.line-number
          #{before_count}

        - case line
        - when /^(---|\+\+\+|\\\\)/
          - before_count += 1
          - after_count += 1
          %td.line.diff-comment
            %pre.prettyprint
              #{line.chomp}
            .comment-line-background
        - when /^\+/
          - after_count += 1
          %td.line.ins
            %pre.prettyprint
              #{clean_line line}
            .comment-line-background
        - when /^-/
          - before_count += 1
          %td.line.del
            %pre.prettyprint
              #{clean_line line}
            .comment-line-background
        - when /^ /
          - before_count += 1
          - after_count += 1
          %td.line.unchanged
            %pre.prettyprint
              #{clean_line line}
            .comment-line-background
        - when /^@@/
          - before_count += 1
          - after_count += 1
          %td.line.diff-block-info
            %pre.prettyprint
              #{line.chomp}
            .comment-line-background
        - else
          %td.line

        %td.comments
          - line_comments.each do |line_comment|
            = render :partial => "comments/line", :locals => {:comment => line_comment}
