
%h2
  #{@commit.id_abbrev}

#{I18n.l @commit.date, :format => :short}

#{@commit.author}

#{@commit.short_message}

.added
  + #{@commit.stats.additions}
.deleted
  = "- #{@commit.stats.deletions}"

.diffs{:data => {:repository => @repository.id, :commit => @commit.id}}
  - @commit.diffs.each do |diff|

    .file-diff{:data => {:file => diff.b_path}}
      - comments = @comments.find_all { |comment| comment.file == diff.b_path }
      %br

      .file-name
        - if diff.a_path != diff.b_path
          #{diff.a_path} ==> #{diff.b_path}
        - else
          = diff.a_path

      .line-diff
        - # only need to check the original
        - original = diff.a_blob.nil? ? nil : diff.a_blob.data

        - diffy_diff = Diffy::Diff.new(original, diff.b_blob.data, {:allow_empty_diff => true})
        = render :partial => "commit_diff", :locals => {:diff => diffy_diff, :comments => comments}