- user_session ||= @user_session

= form_for user_session, :url => create_user_sessions_path do |f|
  .field
    .username
      = f.label :login
      = f.text_field :login

    .password
      = f.label :password
      = f.password_field :password

    .actions
      = f.submit "Login"
