!!!
%html
  %head
    %title Squid Box
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    = navigation_menu

    #flash
      - if flash[:notice]
        %p.notice= flash[:notice]
      - elsif flash[:error]
        %p.error= flash[:error]

    = yield
